/* ヘッダー */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 20px;
  background-color: #333;
  color: #fff;
}


/* タイトル */
.header-title {
  order: 1;
}

.header-title h1 {
  margin: 0;
}

/* メニュー */
.menu {
  order: 2;
  margin-left: 20px;
}

.menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-left: 20px;
}

.menu a {
  color: #fff;
  text-decoration: none;
}

/* サイドバー開閉ボタン */
.sidebar-toggle button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.sidebar-toggle button span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

/* サイドバー */
.sidebar {
  position: fixed;
  top: 80px;
  left: -200px;
  width: 200px;
  height: 100%;
  background-color: #333;
  transition: all 0.3s ease;
}

.sidebar.active {
  left: 0;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5); /* 透明度のある黒色 */
}

.caption-text {
  text-align: center;
  padding: 20px;
  color: #fff;
}
.announcement {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; /* 適宜変更してください */
}

.announcement h2 {
  margin: 0;
  padding: 10px;
  border: 2px solid #333;
}
.underline {
  border-bottom: 1px dashed black;
}
footer {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
}

.footer-text {
  background-color: #333;
  color: #fff;
  padding: 10px;
  font-size: 0.8em;
}
